@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: myFont;
    font-style: italic;
    src: url("../styles/Miama.ttf");
}

/* ----------- font family ------------ */
.inter-font-family{
    font-family: "Inter", sans-serif;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* -------- Essential class -------- */
.container{
    width: 80%;
    margin: 0 auto;
}
.primary-btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 12px 25px 12px 25px;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}
#download-btn{
    background-color: rgb(63, 62, 62);
    margin-left: .2rem;
}
/* -------- header section ---------- */
.header-bg-color{
    background: linear-gradient(rgb(17, 17, 17),rgb(56, 54, 54));
}
.bar-icon{
    display: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8rem;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    background: #272626;
    z-index: 10;
    width: 100%;
}
.menubar{
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: .2rem 1rem .2rem .2rem;
}
.menubar li{
    list-style: none;
    margin-left:2rem;
}
.menubar li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.124rem;
    text-align: left;
}
.navbar-title{
    color: rgb(230, 83, 60);
    font-size: 2.5rem;
    font-weight: 800;
    text-align: left;
    font-style: italic;
}
/*------ humbarger-menu------ */
.humbarger-menu input[type="checkbox"]{
    display: none;
}
#home-bnt{
    border-radius: 44px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
    margin-left: 0rem;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}
.banner-text{
    width: 50%;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    width: 520px;   
}
.shape{
    font-family: myFont;
    font-weight: 100;
    font-size: 10rem;
}
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin: 2rem 0;
    text-align: justify;
}
.banner-img-styling{
    position: relative;
    margin-left: 20px;
}
.banner-img-styling img{
    width: 100%;
}
.red-circle{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-left: .5rem;
}
.rating-card{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 90px;
    text-align: center;
}
.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    position: absolute;
    top: 27%;
    left: 65%;
    text-align: left;
}
.card2{
    display: flex;
    align-items: center;
    position: absolute;
    top: 70%;
    left: -23%;
    text-align: left;
}
.card1 h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    margin-left: 1rem;
}
.card2 h1{
    color: rgb(250, 250, 249);
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: .5rem;
}
.card1 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    text-align: left;
    margin-left: 1rem;
}
.card2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    text-align: left;
    margin-left: .5rem;
}
/* ------------ main section ---------- */
main{
    background-color: rgb(24, 23, 23);
    padding-bottom: 3rem;
}
main section{
    width: 70%;
    margin: 0rem auto;
}
/* ------------ change-habit section ---------- */
.change-habits{
    padding: 4rem 0.5rem;
    margin-bottom: 3rem;
}
.change-habits-title{
    font-size: 4rem;
    color: #fff;
    text-align: center;
    width: 670px;
    margin: 0 auto;
}
.change-habits-descriptoin{
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 700px;
    margin: 1rem auto;
    margin-bottom: 4rem;
}
.habits-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.habits-card{
    text-align: center;
    color: #fff;
}
.habits-card h4{
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: .5rem;
}
.habits-card p{
    color: rgba(255, 255, 255, 0.5);
}
.card-img{
    border: 3px solid rgb(70, 66, 66);
    border-radius: 50%;
    width: 100%;
    margin-bottom: 1rem;
}
/* ------------- run-extra ------------ */
.run-extra-section{
    padding: 4rem 4rem;
    background-color: rgb(46, 45, 45);
    margin-bottom: 3rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.run-extra-text{
    width: 400px;
}
.run-extra-img img{
    width: 100%;
    height: 300px;
    border-radius: 1rem;
}
.run-extra-text h1{
    font-size: 2.9rem;
    color: #fff;
    font-weight: 900;
    width: 350px;
}
.run-extra-text p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 0.5rem 0rem;
    padding: 0.5rem 0 0;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    width: 90%;
    text-align: justify;
}
#join-now{
    padding: 1rem 4rem 1rem 4rem;
    font-size: 1.3rem;
    margin-top: .5rem;
}
#join-now2{
    padding: 1rem 4rem 1rem 4rem;
    font-size: 1.3rem;
    margin-top: .5rem;
}
.join-now{
    border: none;
    outline: none;
    color: #fff;
    border-radius: 43px;
    font-size: 1rem;
    margin-bottom: 1rem;
    background: rgb(230, 83, 60);
}

/* --------- Exercises Section -------------- */
.training-section{
    margin-top: 8rem;
}
.training-section h1{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;   
    margin-bottom: 1rem;
}
.training-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: justify;
    width: 750px;
    margin-bottom: 3rem;
}
.exercises-container-1{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    margin-top: 3rem;
}
.exercises-container-2{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
}
.exercises-item{
    /* height: 30vh; */
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.exercises-item p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: 0px;
}
.one{
    background-image: linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url(../images/exercise1.jpg);
}
.two{
    background-image: linear-gradient(rgba(255, 0, 0, 0.3),rgba(255, 0, 0, 0.3)),url(../images/exercise2.png);
}
.three{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/exercise3.png);
}
.four{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/exercise4.png);
}
.five{
    background-image: linear-gradient(rgba(66, 255, 0, 0.3),rgba(66, 255, 0, 0.3)),url(../images/exercise5.jpg);
}
.six{
    background-image: linear-gradient(rgba(0, 71, 255, 0.3),rgba(0, 71, 255, 0.3)),url(../images/exercise6.jpg);
}
.one p{
    position: absolute;
    left: 30px;
    top: 80%;
}
.two p{
    position: absolute;
    left: 30px;
    top: 10%;
}
.three p{
    position: absolute;
    left: 30px;
    top: 75%;   
}
.four p{
    position: absolute;
    left: 50%;
    top: 10%;
}
.five p{
    position: absolute;
    left: 30px;
    top: 75%;    
}
.six p{
    position: absolute;
    left: 30px;
    top: 75%;   
}
.bmi-description{
    margin: 5rem 0rem 5rem 7rem;
}
.training-description2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: justify;
    width: 630px;
    margin-bottom: 3rem;
}
/* ---------- bmi-calculator Section ----------- */
.bmi-calculator-section{
    width: 100%;
    background-color: rgb(46, 45, 45);
}
.bim-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.bmi-calculator-char{
    width:50%;
}
.bmi-calculate{
    width: 50%;
}
.bmi-calculator-title{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 900;
    text-align: left;   
    margin: 1.5rem 0;
}
.bmi-calculator-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    line-height: 1.5rem;    
    text-align: justify;
    /* width: 450px; */
}
.table{
    border-collapse: collapse;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
.table td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1.3rem;
}
.table th{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}
.table td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}
.input-1{
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap: .5rem;
    margin: .8rem 0;
}
input[type="number"]{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1.2rem 1.5rem 1.2rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    width: 100%;
}
input,
input::placeholder {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.6);
}
.input-2{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.input-2 select{
    width: 100%;
}
select{
    background: rgba(255, 255, 255, 0.1);
    padding: 1.2rem 2rem 1.2rem 1rem;
    border-radius: 8px;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}
.custom-select option {
    background-color: gray;
    color: #fff;
}
/* .custom-select:focus {
    background-color: #007BFF; 
    color: white;           
    border-color: #0056b3;   
} */
.input-3 select{
    width: 100%;
    margin: .8rem 0;
}

/* ----------------- meetup-section ------------------- */
.meetup-section{
    margin-top: 5rem;
    padding-bottom: 5rem;
}
.meetup-contianer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 18px;
}
.meetup-man{
    /* height: 40vh; */
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.trainer-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(../images/trainer1.png);
    border-radius: 13px;
}
.trainer-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../images/trainer2.png);
    border-radius: 13px;
}
.trainer-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/trainer3.png);
    border-radius: 13px;
}
.trainer-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../images/trainer4.png);
    border-radius: 13px;
}
.trainer-5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../images/trainer5.png);
    border-radius: 13px;
}
.trainer-6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(../images/trainer6.png);
    border-radius: 13px;
}
.meetup-text{
    position: absolute;
    top: 83%;
    left: 5%;
}
.meetup-text h1{
    font-size: 1.1rem;
    color: #fff;
    margin-bottom: .3rem;
}
.meetup-text p{
    font-size: .9rem;
    color: rgba(245, 243, 243, 0.5);
}
.meetup-description{
    margin-bottom: 2rem;
}

/* --------- Pricing section---------- */
.pricing-section{
    padding-bottom: 2rem;
}
.pricing-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    margin-top: 2rem;
}
.pricing-card{
    border: 1px solid #6c757d;;
    padding: .8rem;
    border-radius: 5px;
}
.pricing-img{
    /* background: red; */
    background: rgb(230, 83, 60);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.pricing-img img{
   width: 45px;
   text-align: center;
   margin-top: .5rem;
}
.pricing-heading h1{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}
.pricing-heading p{
    /* color: #FF0000; */
    color: rgb(230, 83, 60);
    font-size: 1rem;
    margin-top: .2rem;
}
.single-class{
    font-size: .7rem;
    color: #dddddd;
}
.tick-mark-item{
    margin-top: 2rem;
}
.tick-mark-item li{
    list-style: none;
    margin-top: 1rem;
    font-size: .7rem;
}
.tick-mark-item li{
    color: #fff;
}
.fa-check{
    /* color: #FF0000; */
    color: rgb(230, 83, 60);
    font-size: 1rem;
    margin-right: .5rem;
}
.border-btn {
    font-size: .7rem;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    background: none;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    cursor: pointer;
    transition: color 0.4s linear;
    overflow: hidden;
    margin-top: 1.5rem;
}
.border-btn:hover{
    /* background: #FF0000; */
    background: rgb(230, 83, 60);
    transition: 0.4s;
}
/* ---------- Our Class Section --------------- */
.our-classes{
    background-color: rgb(37, 34, 34);
    margin-top: 2rem;
    border-radius: 8px;
    padding: 2rem 2rem 1rem 2rem;
}
.classes-title-description{
    text-align: center;
    margin-bottom: 3rem;
}
.classes-title-description h1{
    font-size: 4rem;
    color: #fff;
}
.classes-title-description img{
    margin: 1rem 0;
}
.classes{
    color: rgb(230, 83, 60);
}
.class-schedule-description{
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 620px;
    margin: 0rem auto;
}
.schedule-container{
    margin-top: 3rem;
}
.schedule-container h5{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.table2{
    border-collapse: collapse;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
}
.table2 td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2.5rem 1rem;
}
.table2 th{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
}
.table2 td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}
/* ---------------- footer --------------- */
.footer-container{
    width: 70%;
    margin: 0rem auto;
    padding-top: 3rem;
}
.footer-container{
    /* display: flex; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-between;
    align-items: self-start;
}
.footer-title-description{
    text-align: justify;
    width: 350px;
    padding-right: 1rem;
}
.footer-title-description h1{
    color: rgb(230, 83, 60);
    font-size: 4rem;
    font-weight: 800;
    font-style: italic;
    margin-bottom: .5rem;
}
.footer-title-description p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.get-started h1{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    margin-bottom: 1.5rem;
}
.get-started ul li{
    list-style: none;
    margin-bottom: 1.3rem;
}
.get-started ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    line-height: 120%;
    text-align: left;
}
.footer-copy-write{
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
}
.hr-line{
    border: 1.2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
}
.footer-copy-write p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.15rem;
    letter-spacing: 0.3px;
    text-align: center;
    padding-bottom: 1rem;
    font-weight: 350;
}